<h1>Listes des gossips</h1>
 
<table>
  <tr>
    <th>author</th>
    <th>gossip</th>
  </tr>
 
  <% @gossips.each do |gossip| %>
    <tr>
      <td><%= gossip.anonymou_author%></td>
      <td><%= gossip.content %></td>
      <td><%= link_to 'Montrer le gossip', gossip_path(gossip) %></td>
      %></td>
      <td><%= link_to 'Editer le gossip', edit_gossip_path(gossip) %></td>
      <td><%= link_to 'Destroy', gossip_path(gossip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>



<p> <%= link_to("Nouveau gossip", new_gossip_path) %> </p>
